<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="yenpraveen@gmail.com" />
		<property name="password" value="Phenix12!" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.debug">true</prop>
				<!-- <prop key="mail.smtp.quitwait">false</prop> -->
				<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
			</props>
		</property>

	</bean>

	<bean id="mailMail" class="com.fmr.pbo.service.MailMail">
		<property name="mailSender" ref="mailSender" />
		<property name="simpleMailMessage" ref="customeMailMessage" />
	</bean>

	<bean id="customeMailMessage" class="org.springframework.mail.SimpleMailMessage">

		<property name="from" value="omgomathi@gmail.com" />
		<!-- <property name="to" value="maulik.chandya@fmr.com,praveen.narayanasamy@fmr.com,selvarathinam.kannappan@fmr.com,gomathi.rameshbabu@fmr.com,sarang.garg@fmr.com" /> -->
		<property name="to" value="praveen.narayanasamy@fmr.com,gomathi.rameshbabu@fmr.com" />
		<property name="subject" value="Report" />
		<!-- <property name="text" value="Please find attached the report" /> -->
		 <property name="text">
			<value>
			<![CDATA[%s %s]]>
			</value>
		</property> 
	</bean>

</beans>